.downSidePawn
{
    position:absolute;
    z-index: 5;
    top:-18rem;
    right:0rem;
}
.upSidePawn
{
    position:absolute;
    z-index: 5;
    bottom:0rem;
    left:-8rem;
}
.layoutWrapper
{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10rem;
}
.button
{
    background-color: black;
    height:80px;
    width:180px;
    color:white;
    font-size:1.4em;
    border-color:white;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: lowercase;
}
.button:hover {
    background-color: black;
    color:white;
    border:none;
}
.dialog
{
    display:flex;
    width:15rem;
    height:10rem;
    align-items: center;
    justify-content: center;
    gap:3rem;
    .dialogOption
    {
        font-size: 1.4em;
        color:black;
        span {
            display:flex;
            justify-content: center;
        }
    }
}